@import 'settings';

.title {
	text-align: center;
    h1{
    	padding-top: 30vh;
        font-size: 4rem;
    	font-family: 'Emilys Candy', serif;
    	color: white;
        @include breakpoint (medium){
           padding-top: 40vh; 
           font-size: 5rem;
        }
    }
    h2{
        padding-top: 5vh;
        font-size: 2rem;
        font-family: 'Emilys Candy', serif;
        color: $pink;
        width: 100%; 
        text-align: center; 
        border-bottom: 1px solid #000; 
        line-height: 0.1em;
        margin: 10px 0 20px; 
    }
    h2 span { 
    background:#fff; 
    padding:0 10px; 
    }
} 

.topmenu{
    font-size:1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}


.space10OnTop{
    margin-top:10px;
}

.header {
    height: 70vh;
    background-size: cover;
    background: &black;
    background-repeat: no-repeat;
    border-bottom: 1px solid $dark-gray;
    background-position: center center; 
    background-attachment: fixed;

}

.header.homepage {
    background-color: &green;
    // Image for small screens only
    @include breakpoint(small only) { 
        background-image: url(../img/HomepageHeader/HomepageHeader_768.jpg)
    }
    // Image for medium screens
    @include breakpoint(medium only) { 
        background-image: url(../img/HomgepageHeader/HomepageHeader_1048.jpg)
    }
    //image for large and up screens
    @include breakpoint(large) { 
        background-image: url(../img/HomepageHeader/HomepageHeader_1290.jpg)
    }
}

.header.about{
     background-color: &green;
    // Image for small screens only
    @include breakpoint(small only) { 
        background-image: url(../img/AboutHeader/AboutHeader_768.jpg)
    }
    // Image for medium screens
    @include breakpoint(medium only) { 
        background-image: url(../img/AboutHeader/AboutHeader_1048.jpg)
    }
    //image for large and up screens
    @include breakpoint(large) { 
        background-image: url(../img/AboutHeader/AboutHeader_1290.jpg)
    }

}

.header.contact{
    background-color: &green;
    // Image for small screens only
    @include breakpoint(small only) { 
        background-image: url(../img/ContactHeader/ContactHeader_768.jpg)
    }
    // Image for medium screens
    @include breakpoint(medium only) { 
        background-image: url(../img/ContactHeader/ContactHeader_1048.jpg)
    }
    //image for large and up screens
    @include breakpoint(large) { 
        background-image: url(../img/ContactHeader/ContactHeader_1290.jpg)
    }
}

.header.gardenbook{
   background-color: &green;
    // Image for small screens only
    @include breakpoint(small only) { 
        background-image: url(../img/GardenbookHeader/GardenbookHeader_768.jpg)
    }
    // Image for medium screens
    @include breakpoint(medium only) { 
        background-image: url(../img/GardenbookHeader/GardenbookHeader_1048.jpg)
    }
    //image for large and up screens
    @include breakpoint(large) { 
        background-image: url(../img/GardenbookHeader/GardenbookHeader_1290.jpg)
    }
}

.blogpost{
    padding-top: 30vh;
        font-size: 4rem;
        font-family: 'Emilys Candy', serif;
        color: $pink;
        @include breakpoint (medium){
           padding-top: 40vh; 
           font-size: 5rem;
       }
}
